### Горохов Владислав, ПМИ 433

#### Конверсия и повторные покупатели

##### №1

In [10]:
import pandas as pd

In [3]:
df_conv = pd.DataFrame({'traffic_source': ['context ', 'email'],
                        'visits': [2500, 1000],
                        'purchases': [100, 50]})
df_conv.set_index('traffic_source', inplace=True)
print(df_conv)

                visits  purchases
traffic_source
context           2500        100
email             1000         50

In [4]:
email_conversion = df_conv.iloc[1, :]['purchases'] / df_conv.iloc[1, :]['visits'] * 100
context_conversion = df_conv.iloc[0, :]['purchases'] / df_conv.iloc[0, :]['visits'] * 100

print('Конверсия рассылок: {}%'.format(email_conversion),
      'Конверсия контекстной рекламы: {}%'.format(context_conversion), sep='\n')

Конверсия рассылок: 5.0%
Конверсия контекстной рекламы: 4.0%

##### №2

In [5]:
if email_conversion > context_conversion:
    print('Вывод: рассылки эффективнее')
else:
    print('Вывод: контекстная реклама эффективнее')

Вывод: рассылки эффективнее

##### №3

In [6]:
if email_conversion > context_conversion:
    print('Вывод: рассылки эффективнее')
elif email_conversion < context_conversion:
    print('Вывод: контекстная реклама эффективнее')
else:
    print('Конверсии равны, пора смотреть другие метрики')

Вывод: рассылки эффективнее

##### №4

In [7]:
df_conv.iloc[0, :]['purchases'] = 125

email_conversion = df_conv.iloc[1, :]['purchases'] / df_conv.iloc[1, :]['visits'] * 100
context_conversion = df_conv.iloc[0, :]['purchases'] / df_conv.iloc[0, :]['visits'] * 100

print(df_conv, end='\n\n')

if email_conversion > context_conversion:
    print('Вывод: рассылки эффективнее')
elif email_conversion < context_conversion:
    print('Вывод: контекстная реклама эффективнее')
else:
    print('Конверсии равны, пора смотреть другие метрики')

                visits  purchases
traffic_source
context           2500        125
email             1000         50

Конверсии равны, пора смотреть другие метрики

In [8]:
df_conv.iloc[0, :]['purchases'] = 150

email_conversion = df_conv.iloc[1, :]['purchases'] / df_conv.iloc[1, :]['visits'] * 100
context_conversion = df_conv.iloc[0, :]['purchases'] / df_conv.iloc[0, :]['visits'] * 100

print(df_conv, end='\n\n')

if email_conversion > context_conversion:
    print('Вывод: рассылки эффективнее')
elif email_conversion < context_conversion:
    print('Вывод: контекстная реклама эффективнее')
else:
    print('Конверсии равны, пора смотреть другие метрики')

                visits  purchases
traffic_source
context           2500        150
email             1000         50

Вывод: контекстная реклама эффективнее

##### №5

In [9]:
repeated_purchase = 10
total = repeated_purchase + 100

print('Общее количество покупателей: {}'.format(total))

Общее количество покупателей: 110

##### №6

In [16]:
repeated_purchase_part = repeated_purchase / total

print('Доля повторных покупок равна {}%'.format(round(repeated_purchase_part * 100, 3)))

Доля повторных покупок равна 9.091%

##### №7

In [17]:
purchases = pd.read_csv('./datasets/returned.csv')

print(purchases)

    source  first  repeated
0  context   2933        96
1    email    885       136
2      smm   1653       139

##### №8

In [18]:
purchases['total'] = purchases[['first', 'repeated']].apply(sum, 1)
purchases['repeated_share'] = purchases['repeated'] / purchases['total']

print(purchases)

    source  first  repeated  total  repeated_share
0  context   2933        96   3029        0.031694
1    email    885       136   1021        0.133203
2      smm   1653       139   1792        0.077567

##### №9

In [19]:
print(purchases.sort_values('repeated_share', ascending=False))

    source  first  repeated  total  repeated_share
1    email    885       136   1021        0.133203
2      smm   1653       139   1792        0.077567
0  context   2933        96   3029        0.031694

#### User ID и куки

##### №1

In [136]:
logs = pd.read_csv('./datasets/logs.csv')

logs

           user_id   source       email  purchase
0       7141786820    other         NaN         0
1       5644686960    email  c129aa540a         0
2       1914055396  context         NaN         0
3       4099355752    other         NaN         0
4       6032477554  context         NaN         1
...            ...      ...         ...       ...
199995  8714621942    other         NaN         0
199996  6064948744  context         NaN         1
199997  9210683879  context         NaN         0
199998  1629959686    other         NaN         1
199999  2089329795    other         NaN         0

[200000 rows x 4 columns]

##### №2

In [62]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    200000 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

##### №3

In [70]:
unique_emails_count = len(logs['email'].unique())
unique_userID_count = len(logs['user_id'].unique())

print('Уникальных email: {}'.format(unique_emails_count),
      'Уникальных User ID: {}'.format(unique_userID_count), sep='\n')

Уникальных email: 6063
Уникальных User ID: 86571

##### №4

In [72]:
print(logs['source'].unique())

['other' 'email' 'context' 'None' 'undef']

### NaN и None

In [73]:
print(logs['source'].value_counts())

other      133834
context     52032
email       12279
None         1674
undef         181
Name: source, dtype: int64

In [74]:
print(logs[logs['email'].isna()].head())

      user_id   source email  purchase
0  7141786820    other   NaN         0
2  1914055396  context   NaN         0
3  4099355752    other   NaN         0
4  6032477554  context   NaN         1
5  5872473344    other   NaN         0

In [78]:
print(len(logs[logs['email'].isna()]))

186047

In [80]:
hogwarts_points = pd.read_csv('./datasets/hogwarts_points.csv')

print(hogwarts_points)

  faculty_name      student_name  points
0   Гриффиндор      Гарри Поттер      15
1     Слизерин      Драко Малфой      28
2    Когтевран    Полумна Лавгуд      10
3          NaN         Рон Уизли       5
4    Пуффендуй    Седрик Диггори      17
5   Гриффиндор  Невилл Долгопупс      12

In [81]:
print(hogwarts_points['points'].sum())

87

In [82]:
print(hogwarts_points.groupby('faculty_name')['points'].sum())

faculty_name
Гриффиндор    27
Когтевран     10
Пуффендуй     17
Слизерин      28
Name: points, dtype: int64

In [83]:
print(hogwarts_points.groupby('faculty_name')['points'].sum().sum())

82

In [84]:
print('Кубок получает', hogwarts_points.groupby('faculty_name')['points'].sum().idxmax())

Кубок получает Слизерин

##### №1

In [92]:
hogwarts_points = hogwarts_points.fillna('Гиффиндор')

print(hogwarts_points)

  faculty_name      student_name  points
0   Гриффиндор      Гарри Поттер      15
1     Слизерин      Драко Малфой      28
2    Когтевран    Полумна Лавгуд      10
3    Гиффиндор         Рон Уизли       5
4    Пуффендуй    Седрик Диггори      17
5   Гриффиндор  Невилл Долгопупс      12

In [97]:
print('Сумма баллов учеников: {}'.format(hogwarts_points['points'].sum()),
      'Сумма баллов факультетов:\n{}'.format(hogwarts_points.groupby('faculty_name')['points'].sum()),
      'Кубок получает: {}'.format(hogwarts_points.groupby('faculty_name')['points'].sum().idxmax()),
      sep='\n')

Сумма баллов учеников: 87
Сумма баллов факультетов:
faculty_name
Гиффиндор      5
Гриффиндор    27
Когтевран     10
Пуффендуй     17
Слизерин      28
Name: points, dtype: int64
Кубок получает: Слизерин

##### №3

In [99]:
visit = logs['source'].value_counts()

print(visit)

other      133834
context     52032
email       12279
None         1674
undef         181
Name: source, dtype: int64

##### №4

In [101]:
purchase = logs.groupby('source')['purchase'].sum()

print(purchase)

source
None        108
context    3029
email       913
other      8041
undef        12
Name: purchase, dtype: int64

##### №5

In [111]:
conversion = (purchase / visit) * 100

print(round(conversion, 2))

None       6.45
context    5.82
email      7.44
other      6.01
undef      6.63
dtype: float64

### Категориальные и количественные переменные

##### №1

In [116]:
variables = [
    'name',  # название товара
    'num_reviews',  # количество отзывов
    'manufacturer',  # производитель
    'medium_price',  # средняя цена
    'min_price',  # минимальная цена
    'max_price',  # максимальная цена
    'category',  # категория
    'color',  # цвет
    'reseller',  # продавец
    'has_discount',  # есть ли скидки?
]

In [119]:
print('Названия категориальных переменных:')
print('name',
      'manufacturer',
      'category',
      'color',
      'reseller',
      'has_discount', sep=', ')

Названия категориальных переменных:
name, manufacturer, category, color, reseller, has_discount

##### №2

In [120]:
variables = [
    'host_name',  # имя хозяина жилья
    'city',  # город
    'zipcode',  # индекс
    'accommodates',  # количество гостей
    'bathroom',  # количество ванных комнат
    'bedrooms',  # количество спальных комнат
    'beds',  # количество кроватей
    'price',  # цена
]

In [121]:
print('Названия количественных переменных:')
print('accommodates',
      'bathroom',
      'bedrooms',
      'beds',
      'price', sep=', ')

Названия количественных переменных:
accommodates, bathroom, bedrooms, beds, price

##### №3

In [122]:
variables = [
    'user_id',  # id пользователя
    'news_type',  # тип новостного сообщения
    'event',  # вид события: клик, показ
    'tag',  # тема новостного сообщения
]

In [123]:
print('Названия категориальных переменных:')
print('user_id',
      'news_type',
      'event',
      'tag', sep=', ')

Названия категориальных переменных:
user_id, news_type, event, tag

##### №4

In [124]:
variables = [
    'project_id',  # id проекта
    'category',  # категория проекта
    'goal',  # сколько денег хотят собрать
    'pledged',  # сколько собрали
    'state',  # статус проекта
    'backers',  # количество человек, которые отправили деньги
]

In [125]:
print('Названия количественных переменных:')
print('goal',
      'pledged',
      'backers', sep=', ')

Названия количественных переменных:
goal, pledged, backers

#### Работа с пропусками в категориальных переменных

In [128]:
print(logs.groupby('source')['purchase'].count())

source
None         1674
context     52032
email       12279
other      133834
undef         181
Name: purchase, dtype: int64

In [130]:
print(purchase)

source
None        108
context    3029
email       913
other      8041
undef        12
Name: purchase, dtype: int64

In [132]:
logs_grouped = logs.groupby('source').agg({'purchase': ['count', 'sum']})

print(logs_grouped)

        purchase
           count   sum
source
None        1674   108
context    52032  3029
email      12279   913
other     133834  8041
undef        181    12

In [133]:
logs_grouped['purchase']['sum']

source
None        108
context    3029
email       913
other      8041
undef        12
Name: sum, dtype: int64

##### №1

In [137]:
logs['email'] = logs['email'].fillna('')

print(logs.head())

      user_id   source       email  purchase
0  7141786820    other                     0
1  5644686960    email  c129aa540a         0
2  1914055396  context                     0
3  4099355752    other                     0
4  6032477554  context                     1

##### №2

In [146]:
logs.loc[(logs['source'] == 'None') & (logs['email'] == '')]

Empty DataFrame
Columns: [user_id, source, email, purchase]
Index: []

##### №3

In [149]:
logs.loc[(logs['source'] == 'None'), 'source'] = 'email'

logs['source'].value_counts()

other      133834
context     52032
email       13953
undef         181
Name: source, dtype: int64

##### №4

In [150]:
logs_grouped = logs.groupby('source').agg({'purchase': ['count', 'sum']})

print(logs_grouped)

        purchase
           count   sum
source
context    52032  3029
email      13953  1021
other     133834  8041
undef        181    12

##### №5

In [151]:
logs_grouped['conversion'] = logs_grouped['purchase']['sum'] / logs_grouped['purchase']['count']

print(logs_grouped)

        purchase       conversion
           count   sum
source
context    52032  3029   0.058214
email      13953  1021   0.073174
other     133834  8041   0.060082
undef        181    12   0.066298

##### №6

In [152]:
logs.loc[logs['source'] == 'undef', 'source'] = 'other'
logs_grouped = logs.groupby('source').agg({'purchase': ['count', 'sum']})
logs_grouped['conversion'] = logs_grouped['purchase']['sum'] / logs_grouped['purchase']['count']

print(logs_grouped)

        purchase       conversion
           count   sum
source
context    52032  3029   0.058214
email      13953  1021   0.073174
other     134015  8053   0.060090

#### Работа с пропусками в количественных переменных

In [3]:
metrica = pd.read_csv('./datasets/metrica_data.csv')

print(metrica.head(10))

      user_id device_type   age    time
0  7141786820     desktop  33.0  2127.0
1  5644686960      mobile  30.0    35.0
2  1914055396     desktop  25.0     NaN
3  4099355752     desktop  25.0  2123.0
4  6032477554     desktop  27.0    59.0
5  5872473344      mobile  27.0     NaN
6  7977025176      mobile   NaN     NaN
7  3512872755     desktop  40.0    65.0
8  1827368713     desktop  37.0     NaN
9  8688870165     desktop  36.0  2124.0

##### №1

In [5]:
age_avg = metrica['age'].mean()

print(age_avg)

32.48966336969903

##### №2

In [7]:
metrica['age'] = metrica['age'].fillna(age_avg)

print(metrica.head(10))

      user_id device_type        age    time
0  7141786820     desktop  33.000000  2127.0
1  5644686960      mobile  30.000000    35.0
2  1914055396     desktop  25.000000     NaN
3  4099355752     desktop  25.000000  2123.0
4  6032477554     desktop  27.000000    59.0
5  5872473344      mobile  27.000000     NaN
6  7977025176      mobile  32.489663     NaN
7  3512872755     desktop  40.000000    65.0
8  1827368713     desktop  37.000000     NaN
9  8688870165     desktop  36.000000  2124.0

##### №3

In [8]:
time_avg = metrica['time'].mean()

print(time_avg)

1430.1294506106535

##### №4

In [9]:
desktop_data = metrica.loc[metrica['device_type'] == 'desktop']

print(desktop_data.head())

      user_id device_type   age    time
0  7141786820     desktop  33.0  2127.0
2  1914055396     desktop  25.0     NaN
3  4099355752     desktop  25.0  2123.0
4  6032477554     desktop  27.0    59.0
7  3512872755     desktop  40.0    65.0

##### №5

In [10]:
desktop_data_time_avg = desktop_data['time'].mean()

print(desktop_data_time_avg)

1741.8747158537378

##### №6

In [11]:
mobile_data = metrica.loc[metrica['device_type'] == 'mobile']

print(mobile_data.head())

       user_id device_type        age  time
1   5644686960      mobile  30.000000  35.0
5   5872473344      mobile  27.000000   NaN
6   7977025176      mobile  32.489663   NaN
10  7172802697      mobile  30.000000   NaN
14  9312844109      mobile  32.489663  40.0

##### №7

In [12]:
mobile_data_time_avg = mobile_data['time'].mean()

print(mobile_data_time_avg)

41.15691239238949

In [18]:
metrica.loc[metrica['device_type'] == 'desktop', 'time'] = \
    metrica.loc[metrica['device_type'] == 'desktop', 'time'].fillna(desktop_data_time_avg)
metrica.loc[metrica['device_type'] == 'mobile', 'time'] = \
    metrica.loc[metrica['device_type'] == 'mobile', 'time'].fillna(mobile_data_time_avg)

print(metrica.head(10))

      user_id device_type        age         time
0  7141786820     desktop  33.000000  2127.000000
1  5644686960      mobile  30.000000    35.000000
2  1914055396     desktop  25.000000  1741.874716
3  4099355752     desktop  25.000000  2123.000000
4  6032477554     desktop  27.000000    59.000000
5  5872473344      mobile  27.000000    41.156912
6  7977025176      mobile  32.489663    41.156912
7  3512872755     desktop  40.000000    65.000000
8  1827368713     desktop  37.000000  1741.874716
9  8688870165     desktop  36.000000  2124.000000

### Как читать файлы из Excel

##### №1

In [7]:
traffic_data = pd.read_excel('./datasets/seo_data.xlsx', sheet_name='traffic_data')

print(traffic_data.head())

  subcategory_id  source         visits
0     cf2e61c7af  direct  501165.668858
1     0cd903d1cc  direct  126342.359505
2     ef35bc88a7  direct   95626.321402
3     6ff9f4014c  direct   75680.653002
4     72bc238e4d  direct   64435.934651

In [54]:
print(traffic_data.columns.values)

['subcategory_id' 'source' 'visits']

##### №2

In [55]:
print(traffic_data['source'].unique())

['direct' 'organic']

##### №3

In [9]:
subcategory_dict = pd.read_excel('./datasets/seo_data.xlsx', sheet_name='subcategory_ids')

print(subcategory_dict.head())

  subcategory_id                subcategory_name category_id
0     cf2e61c7af              Мобильные телефоны  09f279a643
1     0cd903d1cc                        Ноутбуки  3509869a61
2     ef35bc88a7                      Телевизоры  09f279a643
3     6ff9f4014c                        Планшеты  3509869a61
4     72bc238e4d  Наушники и Bluetooth-гарнитуры  09f279a643

##### №4

In [12]:
category_dict = pd.read_excel('./datasets/seo_data.xlsx', sheet_name='category_ids')

print(category_dict.head())

  category_id               category_name
0  09f279a643                 Электроника
1  3509869a61        Компьютерная техника
2  65922fa39c                        Авто
3  6074ad29ac  Одежда, обувь и аксессуары
4  10a493e03b         Товары для здоровья

### Такие неидеальные данные

In [58]:
print(traffic_data.groupby('source').sum())

                                            subcategory_id
source
direct   cf2e61c7af0cd903d1ccef35bc88a76ff9f4014c72bc23...
organic  cf2e61c7af0cd903d1ccef35bc88a76ff9f4014c72bc23...

C:\Users\goroh\AppData\Local\Temp\ipykernel_16372\2964606069.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.
  print(traffic_data.groupby('source').sum())

Сумма визитов не считается, поскольку не выбраны колонки, к которым необходимо применять функцию после groupby(). Функция sum() "пытается посчитать" сумму по каждому столбцу, при этом суммировать можно только числовые данные, а серия visits имеет тип object.

In [59]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1930 non-null   object
 1   source          1930 non-null   object
 2   visits          1930 non-null   object
dtypes: object(3)
memory usage: 45.4+ KB

### Перевод строковых значений в числа

In [60]:
transactions = pd.read_excel('./datasets/ids.xlsx')

transactions.head()

             id category    amount
0  600748331392        C  17515.36
1  600748331404        B  10117.56
2  600748331412        B  18489.26
3  600748331430        B   6620.22
4  600748331447        C    7559.9

In [61]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        49 non-null     object
 1   category  49 non-null     object
 2   amount    49 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

##### №1

In [62]:
transactions['id'] = pd.to_numeric(transactions['id'])

ValueError: Unable to parse string "Null" at position 48

##### №2

In [63]:
transactions['id'] = pd.to_numeric(transactions['id'], errors='coerce')

transactions.tail()

              id category    amount
44  6.007483e+11        A   8958.23
45  6.007483e+11        C   12771.1
46  6.007483e+11        E   9630.56
47  6.007483e+11     Null      Null
48           NaN        A  14327.22

##### №3

In [64]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        48 non-null     float64
 1   category  49 non-null     object
 2   amount    49 non-null     object
dtypes: float64(1), object(2)
memory usage: 1.3+ KB

##### №4

In [65]:
transactions['amount'] = pd.to_numeric(transactions['amount'], errors='coerce')

transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        48 non-null     float64
 1   category  49 non-null     object
 2   amount    45 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.3+ KB

##### №5

In [66]:
print(transactions['amount'].sum())

596107.1

##### №6

In [67]:
print(transactions.groupby('category')['amount'].sum())

category
A       133988.50
B       168617.89
C       173332.50
D        62630.82
E        57537.39
Null         0.00
Name: amount, dtype: float64

##### №7

In [68]:
traffic_data['visits'] = pd.to_numeric(traffic_data['visits'])

ValueError: Unable to parse string ""2369468"" at position 964

##### №8

In [69]:
traffic_data.loc[964, ]

subcategory_id        total
source               direct
visits            "2369468"
Name: 964, dtype: object

##### №9

In [70]:
print('Количество строк:', len(traffic_data))

Количество строк: 1930

##### №10

In [71]:
traffic_data = traffic_data.loc[traffic_data['subcategory_id'] != 'total']

traffic_data[traffic_data['subcategory_id'] == 'total']

Empty DataFrame
Columns: [subcategory_id, source, visits]
Index: []

##### №11

In [73]:
traffic_data['visits'] = pd.to_numeric(traffic_data['visits']).astype('int')

traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928 entries, 0 to 1928
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   subcategory_id  1928 non-null   object
 1   source          1928 non-null   object
 2   visits          1928 non-null   int32
dtypes: int32(1), object(2)
memory usage: 52.7+ KB

##### №12

In [74]:
print(traffic_data.groupby('source')['visits'].count())

source
direct     964
organic    964
Name: visits, dtype: int64

### Методы Pandas для работы с датой и временем

##### №1

In [3]:
position = pd.read_csv('./datasets/position.csv')

position.head(15)

              timestamp  level   page_id
0   2019-02-04T13:22:34      1  6ukoNykP
1   2019-02-06T15:30:54      1  Q62R1Ue7
2   2019-02-08T14:53:45      1  GmfSxgPs
3   2019-02-10T16:50:22      2  M56OK96C
4   2019-02-12T14:16:28      1  q2fqVqPc
5   2019-02-14T15:10:45      1  LioXfSPk
6   2019-02-16T14:52:23      3  bQXWpQ2z
7   2019-02-18T15:45:33      2  gsFVGOTy
8   2019-02-20T16:35:12      3  zVuiSTm1
9   2019-02-22T15:52:27      1  kuULtbnm
10  2019-02-24T12:39:30      2  MKDhBt9L
11  2019-02-26T12:45:10      3  FEgRztcr
12  2019-03-04T15:34:46      4  OUBWQSCl
13  2019-03-06T14:20:57      5  6YeTUHgm
14  2019-03-08T12:34:43      6  zlrBrZ0d

##### №2

In [4]:
position.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  39 non-null     object
 1   level      39 non-null     int64
 2   page_id    39 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.0+ KB

##### №3

In [5]:
position['timestamp'] = pd.to_datetime(position['timestamp'], format='%Y-%m-%dT%H:%M:%S')

print(position.head())

            timestamp  level   page_id
0 2019-02-04 13:22:34      1  6ukoNykP
1 2019-02-06 15:30:54      1  Q62R1Ue7
2 2019-02-08 14:53:45      1  GmfSxgPs
3 2019-02-10 16:50:22      2  M56OK96C
4 2019-02-12 14:16:28      1  q2fqVqPc

##### №4

In [6]:
position.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  39 non-null     datetime64[ns]
 1   level      39 non-null     int64
 2   page_id    39 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.0+ KB

##### №5

In [7]:
print(position.sort_values('level'))

             timestamp  level   page_id
0  2019-02-04 13:22:34      1  6ukoNykP
1  2019-02-06 15:30:54      1  Q62R1Ue7
2  2019-02-08 14:53:45      1  GmfSxgPs
4  2019-02-12 14:16:28      1  q2fqVqPc
5  2019-02-14 15:10:45      1  LioXfSPk
9  2019-02-22 15:52:27      1  kuULtbnm
3  2019-02-10 16:50:22      2  M56OK96C
26 2019-04-03 15:12:15      2  NJ1D9dAt
7  2019-02-18 15:45:33      2  gsFVGOTy
10 2019-02-24 12:39:30      2  MKDhBt9L
16 2019-03-12 15:33:28      3  Y3wTtqaJ
11 2019-02-26 12:45:10      3  FEgRztcr
8  2019-02-20 16:35:12      3  zVuiSTm1
6  2019-02-16 14:52:23      3  bQXWpQ2z
12 2019-03-04 15:34:46      4  OUBWQSCl
17 2019-03-14 12:46:19      4  g4si3TQ8
13 2019-03-06 14:20:57      5  6YeTUHgm
36 2019-04-23 13:17:19      5  6KVLFFQF
18 2019-03-16 16:18:34      5  zPH6tQwc
32 2019-04-15 12:28:54      5  sCKAcOTN
25 2019-04-01 13:43:49      5  7UCXvXJu
23 2019-03-26 15:50:31      5  p4Ofo5uP
33 2019-04-17 16:54:17      6  JjIZd3Jy
28 2019-04-07 16:29:58      6  bsORIc79
19 2019-03-18 16:47:36      6  057NPKXX
37 2019-04-25 16:10:50      6  clLGJ4g3
14 2019-03-08 12:34:43      6  zlrBrZ0d
24 2019-03-28 15:28:17      6  aQdvnaZX
27 2019-04-05 14:51:38      7  7JKRCdPA
20 2019-03-20 15:53:36      7  VkTjZ6co
29 2019-04-09 14:57:20      7  SfnhoGh6
31 2019-04-13 12:13:26      7  ILfc3WmK
15 2019-03-10 13:12:57      7  Vih5ARKA
34 2019-04-19 15:43:24      7  MSHZViNg
21 2019-03-22 16:36:19      8  s24ZIat3
30 2019-04-11 13:39:15      8  9mL07Mjl
35 2019-04-21 14:40:17      8  JvTMAbs7
38 2019-04-27 12:48:14      8  5VRryKr6
22 2019-03-24 13:49:22      9  WklxK6k4

##### №6

In [8]:
position['month'] = pd.DatetimeIndex(position['timestamp']).month

print(position.head())

            timestamp  level   page_id  month
0 2019-02-04 13:22:34      1  6ukoNykP      2
1 2019-02-06 15:30:54      1  Q62R1Ue7      2
2 2019-02-08 14:53:45      1  GmfSxgPs      2
3 2019-02-10 16:50:22      2  M56OK96C      2
4 2019-02-12 14:16:28      1  q2fqVqPc      2

##### №7

In [12]:
print(position.groupby('month')['level'].mean())

month
2    1.750000
3    5.769231
4    6.214286
Name: level, dtype: float64

#### Обработка ошибок: try-except

In [1]:
a = 1
b = 0
print(a / b)  # распечатаем на экране результат деления на ноль
print('Кстати, хорошего дня')  # заодно пожелаем хорошего дня

ZeroDivisionError: division by zero

In [2]:
a = 1
b = 0
try:
    print(a / b)
except:
    print('Проверьте значения параметров a и b')
print('Кстати, хорошего дня')

Проверьте значения параметров a и b
Кстати, хорошего дня

In [3]:
numbers = [10, 1, 0, -3, 999]

for number in numbers:
    try:
        print(f'{number} / {number} равно {number / number}')
    except:
        print(f'Не получилось разделить {number} на {number}')
print('Хорошего дня!')

10 / 10 равно 1.0
1 / 1 равно 1.0
Не получилось разделить 0 на 0
-3 / -3 равно 1.0
999 / 999 равно 1.0
Хорошего дня!

#### Метод merge()

In [10]:
data_subcategory = traffic_data.merge(subcategory_dict, on='subcategory_id', how='left')
print(data_subcategory.head(10))

  subcategory_id  source         visits                subcategory_name  \
0     cf2e61c7af  direct  501165.668858              Мобильные телефоны
1     0cd903d1cc  direct  126342.359505                        Ноутбуки
2     ef35bc88a7  direct   95626.321402                      Телевизоры
3     6ff9f4014c  direct   75680.653002                        Планшеты
4     72bc238e4d  direct   64435.934651  Наушники и Bluetooth-гарнитуры
5     88c78ea685  direct   39638.202995                            Шины
6     179bfacf4a  direct   31007.471245           Умные часы и браслеты
7     b0fb8f259a  direct   30324.097324                        Мониторы
8     3c67eb2d90  direct   25878.814329                   Наручные часы
9     24e6c815c6  direct   25276.373358  Лекарственные препараты и БАДы

  category_id
0  09f279a643
1  3509869a61
2  09f279a643
3  3509869a61
4  09f279a643
5  65922fa39c
6  09f279a643
7  3509869a61
8  6074ad29ac
9  10a493e03b

### Сводные таблицы

In [14]:
data_final = data_subcategory.merge(category_dict, on='category_id', how='left')
print(data_final.head())

  subcategory_id  source         visits                subcategory_name  \
0     cf2e61c7af  direct  501165.668858              Мобильные телефоны
1     0cd903d1cc  direct  126342.359505                        Ноутбуки
2     ef35bc88a7  direct   95626.321402                      Телевизоры
3     6ff9f4014c  direct   75680.653002                        Планшеты
4     72bc238e4d  direct   64435.934651  Наушники и Bluetooth-гарнитуры

  category_id         category_name
0  09f279a643           Электроника
1  3509869a61  Компьютерная техника
2  09f279a643           Электроника
3  3509869a61  Компьютерная техника
4  09f279a643           Электроника

In [19]:
data_pivot = data_final.pivot_table(index=['category_name', 'subcategory_name'],
                                    columns='source', values='visits', aggfunc='sum')
print(data_pivot.head(10))

source                                         direct       organic
category_name subcategory_name
Авто          Автоакустика                5915.606541  15433.405558
              Автомагнитолы               7783.806626  18690.016622
              Автомобильные инверторы      145.925199    150.592871
              Автомобильные компрессоры    407.264303    790.164679
              Автомобильные телевизоры     975.978827   2246.595618
              Автомобильные холодильники   204.631014    285.110834
              Автосигнализации             494.025691   1026.092391
              Аккумуляторные батареи      1175.227510   2657.217881
              Антифризы                    736.588757   1568.277621
              Багажники, рейлинги          342.372257    664.308906

In [21]:
data_pivot_with_reset_index = data_pivot.reset_index()
print(data_pivot_with_reset_index.head(10))  # "широкий" формат данных

source category_name            subcategory_name       direct       organic
0               Авто                Автоакустика  5915.606541  15433.405558
1               Авто               Автомагнитолы  7783.806626  18690.016622
2               Авто     Автомобильные инверторы   145.925199    150.592871
3               Авто   Автомобильные компрессоры   407.264303    790.164679
4               Авто    Автомобильные телевизоры   975.978827   2246.595618
5               Авто  Автомобильные холодильники   204.631014    285.110834
6               Авто            Автосигнализации   494.025691   1026.092391
7               Авто      Аккумуляторные батареи  1175.227510   2657.217881
8               Авто                   Антифризы   736.588757   1568.277621
9               Авто         Багажники, рейлинги   342.372257    664.308906

In [22]:
data_grouped = data_final.groupby(['category_name', 'subcategory_name', 'source']).agg({'visits': 'sum'})
print(data_grouped.head(10))  # "длинный" формат данных

                                                       visits
category_name subcategory_name          source
Авто          Автоакустика              direct    5915.606541
                                        organic  15433.405558
              Автомагнитолы             direct    7783.806626
                                        organic  18690.016622
              Автомобильные инверторы   direct     145.925199
                                        organic    150.592871
              Автомобильные компрессоры direct     407.264303
                                        organic    790.164679
              Автомобильные телевизоры  direct     975.978827
                                        organic   2246.595618

In [23]:
data_grouped['daily_visits'] = data_grouped['visits'] / 30
print(data_grouped.head(10))

                                                       visits daily_visits
category_name subcategory_name          source
Авто          Автоакустика              direct    5915.606541   197.186885
                                        organic  15433.405558   514.446852
              Автомагнитолы             direct    7783.806626   259.460221
                                        organic  18690.016622   623.000554
              Автомобильные инверторы   direct     145.925199     4.864173
                                        organic    150.592871     5.019762
              Автомобильные компрессоры direct     407.264303    13.575477
                                        organic    790.164679    26.338823
              Автомобильные телевизоры  direct     975.978827    32.532628
                                        organic   2246.595618    74.886521

##### №1

In [24]:
data_pivot = data_final.pivot_table(index=['category_name', 'subcategory_name'],
                                    columns='source', values='visits', aggfunc='sum')
print(data_pivot.head(10))

source                                         direct       organic
category_name subcategory_name
Авто          Автоакустика                5915.606541  15433.405558
              Автомагнитолы               7783.806626  18690.016622
              Автомобильные инверторы      145.925199    150.592871
              Автомобильные компрессоры    407.264303    790.164679
              Автомобильные телевизоры     975.978827   2246.595618
              Автомобильные холодильники   204.631014    285.110834
              Автосигнализации             494.025691   1026.092391
              Аккумуляторные батареи      1175.227510   2657.217881
              Антифризы                    736.588757   1568.277621
              Багажники, рейлинги          342.372257    664.308906

##### №2

In [26]:
data_pivot['ratio'] = data_pivot['organic'] / data_pivot['direct']

print(data_pivot.head(10))

source                                         direct       organic     ratio
category_name subcategory_name
Авто          Автоакустика                5915.606541  15433.405558  2.608930
              Автомагнитолы               7783.806626  18690.016622  2.401141
              Автомобильные инверторы      145.925199    150.592871  1.031987
              Автомобильные компрессоры    407.264303    790.164679  1.940177
              Автомобильные телевизоры     975.978827   2246.595618  2.301890
              Автомобильные холодильники   204.631014    285.110834  1.393292
              Автосигнализации             494.025691   1026.092391  2.077002
              Аккумуляторные батареи      1175.227510   2657.217881  2.261024
              Антифризы                    736.588757   1568.277621  2.129109
              Багажники, рейлинги          342.372257    664.308906  1.940312

##### №3

In [29]:
print(data_pivot.sort_values('ratio', ascending=False).head(10))

source                                                           direct  \
category_name          subcategory_name
Авто                   Шины                                39638.202995
Бытовая техника        Стиральные машины                   22064.436847
Спорт и отдых          Велосипеды                          16009.579071
Детские товары         Коляски                             18079.643217
Строительство и ремонт Сварочные аппараты                   6175.438323
Товары для дома        Компьютерные кресла                  6208.431964
Компьютерная техника   Клавиатуры                           6224.687670
Электроника            Универсальные внешние аккумуляторы   6146.908292
                       TV-тюнеры                            6275.058046
Бытовая техника        Холодильники                        20920.733424

source                                                           organic  \
category_name          subcategory_name
Авто                   Шины                                153859.454228
Бытовая техника        Стиральные машины                    64570.606526
Спорт и отдых          Велосипеды                           46087.870786
Детские товары         Коляски                              52005.251013
Строительство и ремонт Сварочные аппараты                   17325.802396
Товары для дома        Компьютерные кресла                  17407.057106
Компьютерная техника   Клавиатуры                           17417.357430
Электроника            Универсальные внешние аккумуляторы   17115.415868
                       TV-тюнеры                            17427.655189
Бытовая техника        Холодильники                         57985.930965

source                                                        ratio
category_name          subcategory_name
Авто                   Шины                                3.881595
Бытовая техника        Стиральные машины                   2.926456
Спорт и отдых          Велосипеды                          2.878768
Детские товары         Коляски                             2.876453
Строительство и ремонт Сварочные аппараты                  2.805599
Товары для дома        Компьютерные кресла                 2.803777
Компьютерная техника   Клавиатуры                          2.798109
Электроника            Универсальные внешние аккумуляторы  2.784394
                       TV-тюнеры                           2.777290
Бытовая техника        Холодильники                        2.771697

##### №4

In [32]:
print(data_pivot.sort_values('ratio', ascending=False).tail(10))

source                                                     direct    organic  \
category_name              subcategory_name
Спорт и отдых              Жиросжигатели                92.491963  27.014894
Товары для красоты         Кисти, спонжи и аппликаторы  96.259976  27.990012
Продукты                   Макароны                     86.843595  24.433584
Спорт и отдых              Гребные тренажеры            89.052031  24.748969
Детские товары             Играем в салон красоты       88.447118  24.468693
                           Блокноты                     79.768958  21.544606
Одежда, обувь и аксессуары Термобелье                   67.385944  13.875540
Строительство и ремонт     Проволока                    76.838223  15.813045
Авто                       Наклейки, шильдики и значки  50.479851   9.204211
Детские товары             Гигиена полости рта          27.301572   4.606261

source                                                     ratio
category_name              subcategory_name
Спорт и отдых              Жиросжигатели                0.292078
Товары для красоты         Кисти, спонжи и аппликаторы  0.290775
Продукты                   Макароны                     0.281352
Спорт и отдых              Гребные тренажеры            0.277916
Детские товары             Играем в салон красоты       0.276648
                           Блокноты                     0.270088
Одежда, обувь и аксессуары Термобелье                   0.205911
Строительство и ремонт     Проволока                    0.205797
Авто                       Наклейки, шильдики и значки  0.182334
Детские товары             Гигиена полости рта          0.168718

##### №5

In [33]:
print(data_pivot.sort_values('ratio', ascending=False).loc[data_pivot['direct'] > 1000].tail(10))

source                                                            direct  \
category_name              subcategory_name
Бытовая техника            Оверлоки и распошивальные машины  1536.538201
Товары для дома            Компьютерные и письменные столы   1999.746292
                           Люстры                            2016.662654
Строительство и ремонт     Дисковые пилы                     2040.251241
                           Воздушные компрессоры             1690.492249
Товары для здоровья        Бандажи и ортезы                  1659.195233
Электроника                Защитные пленки и стекла          1560.395673
Строительство и ремонт     Нивелиры и лазерные уровни        1651.947395
Одежда, обувь и аксессуары Туфли                             1036.253838
                           Сапоги                            1009.586105

source                                                           organic  \
category_name              subcategory_name
Бытовая техника            Оверлоки и распошивальные машины  3215.115336
Товары для дома            Компьютерные и письменные столы   4177.299231
                           Люстры                            4209.611976
Строительство и ремонт     Дисковые пилы                     4255.639872
                           Воздушные компрессоры             3520.404831
Товары для здоровья        Бандажи и ортезы                  3453.165773
Электроника                Защитные пленки и стекла          3246.629811
Строительство и ремонт     Нивелиры и лазерные уровни        3436.972506
Одежда, обувь и аксессуары Туфли                             2097.368209
                           Сапоги                            2021.903456

source                                                          ratio
category_name              subcategory_name
Бытовая техника            Оверлоки и распошивальные машины  2.092441
Товары для дома            Компьютерные и письменные столы   2.088915
                           Люстры                            2.087415
Строительство и ремонт     Дисковые пилы                     2.085841
                           Воздушные компрессоры             2.082473
Товары для здоровья        Бандажи и ортезы                  2.081229
Электроника                Защитные пленки и стекла          2.080645
Строительство и ремонт     Нивелиры и лазерные уровни        2.080558
Одежда, обувь и аксессуары Туфли                             2.023991
                           Сапоги                            2.002705

### Поиск дубликатов

#### Ручной поиск дубликатов

In [34]:
stock = pd.read_excel('./datasets/stock.xlsx', sheet_name='storehouse')
print(stock.head())

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480929     Смартфон Xiaomi Redmi 6A 16GB     10
2  100480938  Смартфон Samsung Galaxy A30 32GB     49
3  100480952  смартфон Samsung Galaxy A30 32gb     11
4  100480959          Смартфон HUAWEI P30 lite      5

##### №1

In [41]:
print(f"Дубликатов в таблице: {stock.duplicated('item').sum()}")

Дубликатов в таблице: 3

##### №2

In [45]:
print(stock['item'].value_counts())

Смартфон Xiaomi Redmi 6A 16GB       3
Смартфон HUAWEI P30 lite            2
Смартфон Samsung Galaxy A30 32GB    1
смартфон Samsung Galaxy A30 32gb    1
Смартфон Apple iPhone Xr 64gb       1
Смартфон Honor 8X 64GB              1
Смартфон Apple iPhone Xr 64GB       1
Name: item, dtype: int64

##### №3

In [48]:
xiaomi = stock[stock['item'] == 'Смартфон Xiaomi Redmi 6A 16GB']['count'].sum()
print(xiaomi)

44

##### №4

In [49]:
huawei = stock[stock['item'] == 'Смартфон HUAWEI P30 lite']['count'].sum()
print(huawei)

38

##### №5

In [50]:
stock = stock.drop_duplicates(['item']).reset_index(drop=True)
print(stock)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

##### №6

In [51]:
stock = stock.dropna().reset_index(drop=True)
print(stock)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     32
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

##### №7

In [54]:
stock.loc[stock['item'] == 'Смартфон Xiaomi Redmi 6A 16GB', 'count'] = xiaomi
print(stock)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite      5
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

##### №8

In [55]:
stock.loc[stock['item'] == 'Смартфон HUAWEI P30 lite', 'count'] = huawei
print(stock)

          id                              item  count
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

#### Ручной поиск дубликатов с учетом регистра

In [56]:
stock['item'].value_counts()

Смартфон Xiaomi Redmi 6A 16GB       1
Смартфон Samsung Galaxy A30 32GB    1
смартфон Samsung Galaxy A30 32gb    1
Смартфон HUAWEI P30 lite            1
Смартфон Apple iPhone Xr 64gb       1
Смартфон Honor 8X 64GB              1
Смартфон Apple iPhone Xr 64GB       1
Name: item, dtype: int64

##### №1

In [57]:
stock['item_lowercase'] = stock['item'].str.lower()
print(stock)

          id                              item  count  \
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480952  смартфон Samsung Galaxy A30 32gb     11
3  100480959          Смартфон HUAWEI P30 lite     38
4  100480975     Смартфон Apple iPhone Xr 64gb     10
5  100480988            Смартфон Honor 8X 64GB     64
6  100481020     Смартфон Apple iPhone Xr 64GB     19

                     item_lowercase
0     смартфон xiaomi redmi 6a 16gb
1  смартфон samsung galaxy a30 32gb
2  смартфон samsung galaxy a30 32gb
3          смартфон huawei p30 lite
4     смартфон apple iphone xr 64gb
5            смартфон honor 8x 64gb
6     смартфон apple iphone xr 64gb

##### №2

In [58]:
stock['item_lowercase'].value_counts()

смартфон samsung galaxy a30 32gb    2
смартфон apple iphone xr 64gb       2
смартфон xiaomi redmi 6a 16gb       1
смартфон huawei p30 lite            1
смартфон honor 8x 64gb              1
Name: item_lowercase, dtype: int64

##### №3

In [59]:
apple = stock[stock['item_lowercase'] == 'смартфон apple iphone xr 64gb']['count'].sum()
print(apple)

29

##### №4

In [60]:
samsung = stock[stock['item_lowercase'] == 'смартфон samsung galaxy a30 32gb']['count'].sum()
print(samsung)

60

##### №5

In [61]:
stock = stock.drop_duplicates(['item_lowercase']).reset_index(drop=True)
print(stock)

          id                              item  count  \
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480959          Смартфон HUAWEI P30 lite     38
3  100480975     Смартфон Apple iPhone Xr 64gb     10
4  100480988            Смартфон Honor 8X 64GB     64

                     item_lowercase
0     смартфон xiaomi redmi 6a 16gb
1  смартфон samsung galaxy a30 32gb
2          смартфон huawei p30 lite
3     смартфон apple iphone xr 64gb
4            смартфон honor 8x 64gb

##### №6

In [62]:
stock = stock.dropna().reset_index(drop=True)
print(stock)

          id                              item  count  \
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480959          Смартфон HUAWEI P30 lite     38
3  100480975     Смартфон Apple iPhone Xr 64gb     10
4  100480988            Смартфон Honor 8X 64GB     64

                     item_lowercase
0     смартфон xiaomi redmi 6a 16gb
1  смартфон samsung galaxy a30 32gb
2          смартфон huawei p30 lite
3     смартфон apple iphone xr 64gb
4            смартфон honor 8x 64gb

##### №7

In [63]:
stock.loc[stock['item_lowercase'] == 'смартфон apple iphone xr 64gb', 'count'] = apple
print(stock)

          id                              item  count  \
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     49
2  100480959          Смартфон HUAWEI P30 lite     38
3  100480975     Смартфон Apple iPhone Xr 64gb     29
4  100480988            Смартфон Honor 8X 64GB     64

                     item_lowercase
0     смартфон xiaomi redmi 6a 16gb
1  смартфон samsung galaxy a30 32gb
2          смартфон huawei p30 lite
3     смартфон apple iphone xr 64gb
4            смартфон honor 8x 64gb

##### №8

In [64]:
stock.loc[stock['item_lowercase'] == 'смартфон samsung galaxy a30 32gb', 'count'] = samsung
print(stock)

          id                              item  count  \
0  100480924     Смартфон Xiaomi Redmi 6A 16GB     44
1  100480938  Смартфон Samsung Galaxy A30 32GB     60
2  100480959          Смартфон HUAWEI P30 lite     38
3  100480975     Смартфон Apple iPhone Xr 64gb     29
4  100480988            Смартфон Honor 8X 64GB     64

                     item_lowercase
0     смартфон xiaomi redmi 6a 16gb
1  смартфон samsung galaxy a30 32gb
2          смартфон huawei p30 lite
3     смартфон apple iphone xr 64gb
4            смартфон honor 8x 64gb

### Категоризация данных

##### №1

In [65]:
support = pd.read_csv('./datasets/support.csv')
print(support.head(10))

    user_id                Тип обращения  type_id      Время обращения
0  DNcd8dnS   Жалоба на товар в магазине        3  2019-03-28 13:58:24
1  0e9MvwGs                Мошенничество        5  2019-03-08 17:11:59
2  boyDUG4C                Мошенничество        5  2019-03-03 17:52:34
3  5jMA27s1   Жалоба на товар в магазине        3  2019-03-16 15:18:21
4  wvtyctOK             Накрутка отзывов        2  2019-03-13 14:43:14
5  zvN8W1tc         Жалоба на видеообзор        8  2019-03-29 20:32:17
6  bBmybSbr             Не работает сайт        1  2019-04-08 21:37:15
7  5JX1P5G8  Продажа запрещенных товаров        6  2019-04-06 12:15:20
8  pbbG3xWx             Не работает сайт        1  2019-04-09 17:30:43
9  vZWtTovT   Жалоба на товар в магазине        3  2019-04-16 12:26:16

##### №2

In [66]:
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          3000 non-null   object
 1   Тип обращения    3000 non-null   object
 2   type_id          3000 non-null   int64
 3   Время обращения  3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

##### №3

In [67]:
support.rename(columns={'Тип обращения': 'type_message', 'Время обращения': 'timestamp'}, inplace=True)
support.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       3000 non-null   object
 1   type_message  3000 non-null   object
 2   type_id       3000 non-null   int64
 3   timestamp     3000 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.9+ KB

#### Классификация по типу

##### №1

In [74]:
support = pd.read_csv('./datasets/support_upd.csv')
print(support['type_message'].value_counts())

Жалоба на товар в магазине      606
Мошенничество                   586
Продажа поддельной продукции    312
Не работает сайт                311
Продажа запрещенных товаров     303
Накрутка отзывов                302
Жалоба на видеообзор            297
Отзыв удалён                    283
Name: type_message, dtype: int64

##### №2

In [3]:
support_log = support[['user_id', 'type_id', 'timestamp']]
print(support_log.head(10))

    user_id  type_id            timestamp
0  DNcd8dnS        3  2019-03-28 13:58:24
1  0e9MvwGs        5  2019-03-08 17:11:59
2  boyDUG4C        5  2019-03-03 17:52:34
3  5jMA27s1        3  2019-03-16 15:18:21
4  wvtyctOK        2  2019-03-13 14:43:14
5  zvN8W1tc        8  2019-03-29 20:32:17
6  bBmybSbr        1  2019-04-08 21:37:15
7  5JX1P5G8        6  2019-04-06 12:15:20
8  pbbG3xWx        1  2019-04-09 17:30:43
9  vZWtTovT        3  2019-04-16 12:26:16

##### №3

In [4]:
support_dict = support[['type_message', 'type_id']]
print(support_dict.head(10))

                  type_message  type_id
0   Жалоба на товар в магазине        3
1                Мошенничество        5
2                Мошенничество        5
3   Жалоба на товар в магазине        3
4             Накрутка отзывов        2
5         Жалоба на видеообзор        8
6             Не работает сайт        1
7  Продажа запрещенных товаров        6
8             Не работает сайт        1
9   Жалоба на товар в магазине        3

##### №4

In [5]:
support_dict = support_dict.drop_duplicates().reset_index(drop=True)
print(support_dict.sort_values('type_id'))

                   type_message  type_id
4              Не работает сайт        1
2              Накрутка отзывов        2
0    Жалоба на товар в магазине        3
6  Продажа поддельной продукции        4
1                 Мошенничество        5
5   Продажа запрещенных товаров        6
7                  Отзыв удалён        7
3          Жалоба на видеообзор        8

#### Классификация по возрастным группам

##### №1

In [74]:
support_log = pd.read_csv('./datasets/support_log.csv', index_col=0)
support_log_grouped = support_log.groupby('type_id', as_index=False).count()
print(support_log_grouped)

   type_id  user_id  timestamp
0        1      311        311
1        2      302        302
2        3      606        606
3        4      312        312
4        5      586        586
5        6      303        303
6        7      283        283
7        8      297        297

##### №2

In [43]:
def alert_group(messages):
    if (messages <= 300):
        return 'средний'
    if (messages > 300 and messages <= 500):
        return 'высокий'
    return 'критичный'


print(alert_group(10))
print(alert_group(450))
print(alert_group(1000))

средний
высокий
критичный

##### №3

In [72]:
support_log_grouped['alert_group'] = support_log_grouped['user_id'].apply(alert_group)
print(support_log_grouped.head(10))

   type_id  user_id  timestamp alert_group
0        1      311        311     высокий
1        2      302        302     высокий
2        3      606        606   критичный
3        4      312        312     высокий
4        5      586        586   критичный
5        6      303        303     высокий
6        7      283        283     средний
7        8      297        297     средний

##### №4

In [73]:
print(support_log_grouped.groupby('alert_group')['user_id'].sum())

alert_group
высокий      1228
критичный    1192
средний       580
Name: user_id, dtype: int64

##### Функция для одной строки

##### №1

In [51]:
support_log_grouped = pd.read_csv('./datasets/support_log_grouped.csv')
print(support_log_grouped)

   type_id  user_id  timestamp alert_group  importance
0        1      311        311     высокий           1
1        2      302        302     высокий           0
2        3      606        606   критичный           0
3        4      312        312     высокий           1
4        5      586        586   критичный           1
5        6      303        303     высокий           1
6        7      283        283     средний           1
7        8      297        297     средний           0

##### №2

In [53]:
def alert_group_importance(row):
    if (row['importance'] == 1):
        if (row['alert_group'] == 'средний'):
            return 'обратить внимание'
        if (row['alert_group'] == 'высокий'):
            return 'высокий риск'
        if (row['alert_group'] == 'критичный'):
            return 'блокер'
    return 'в порядке очереди'


row_values = ['высокий', 1]
row_columns = ['alert_group', 'importance']
row = pd.Series(data=row_values, index=row_columns)
alert_group_importance(row)

'высокий риск'

##### №3

In [56]:
support_log_grouped['importance_status'] = support_log_grouped.apply(alert_group_importance, axis=1)
print(support_log_grouped)

   type_id  user_id  timestamp alert_group  importance  importance_status
0        1      311        311     высокий           1       высокий риск
1        2      302        302     высокий           0  в порядке очереди
2        3      606        606   критичный           0  в порядке очереди
3        4      312        312     высокий           1       высокий риск
4        5      586        586   критичный           1             блокер
5        6      303        303     высокий           1       высокий риск
6        7      283        283     средний           1  обратить внимание
7        8      297        297     средний           0  в порядке очереди

##### №4

In [59]:
print(support_log_grouped['importance_status'].value_counts())

высокий риск         3
в порядке очереди    3
блокер               1
обратить внимание    1
Name: importance_status, dtype: int64

In [75]:
import dill
dill.dump_session('sem_34.db')  # запись окружения в файл

In [76]:
import dill
dill.load_session('./sem_34.db')  # чтение окружения из файла